:root {
    --primary-color: #ee4d2d;
    --primary-color-hover: #ef674b;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;

}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.mw1200{
    max-width: 1200px;
    margin: auto;
}
